.cards__title
  padding: 10px 20px
  border-radius: 7px
  display: inline-block
  font-weight: 800
  margin-bottom: 20px

.cards__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      //border-left: 7px solid #a7a7a7

.cards
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  .tasks
    max-width: 300px
    width: 100%
    // border: 2px dashed rgba(122, 122, 122, 0.3)
    // border-radius: 10px
    .tasks__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid #a7a7a7
  .inProgress
    max-width: 300px
    width: 100%
    .inProgress__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid #86B6DA
  .done
    max-width: 300px
    width: 100%
    .done__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid #94da6f
  .bucket
    max-width: 300px
    width: 100%
    .bucket__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid#ec8b8b
      margin-bottom: 20px
    button
      height: 40px
      border: none
      border-radius: 10px
      padding: 0 25px
      cursor: pointer
      background: #ad2e2e
      color: #eeeaea
      font-weight: 600
      transition: .3s
      &:hover
        box-shadow: 0px 0px 8px 3px rgba(206, 102, 102, 0.418)
        transition: .3s

    