.cards__title
  padding: 10px 20px
  border-radius: 7px
  display: inline-block
  font-weight: 800
  margin-bottom: 20px

.cards__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      //border-left: 7px solid #a7a7a7

.cards
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  .tasks
    max-width: 300px
    width: 100%
    // border: 2px dashed rgba(122, 122, 122, 0.3)
    // border-radius: 10px
  .inProgress
    max-width: 300px
    width: 100%
    .inProgress__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid #86B6DA
      margin-bottom: 20px
  .done
    max-width: 300px
    width: 100%
    .done__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid #94da6f
      margin-bottom: 20px
  .bucket
    max-width: 300px
    width: 100%
    .bucket__item
      background: #ffffff
      display: inline-block
      max-width: 270px
      width: 100%
      padding: 10px 20px
      border-radius: 7px
      border-left: 7px solid#ec8b8b
      margin-bottom: 20px
    button
      height: 40px
      border: none
      border-radius: 10px
      padding: 0 25px
      cursor: pointer
      background: #ad2e2e
      color: #eeeaea
      font-weight: 600
      transition: .3s
      &:hover
        box-shadow: 0px 0px 8px 3px rgba(206, 102, 102, 0.418)
        transition: .3s

.stub
  height: 40px
  width: 270px
  background: rgba(196, 196, 196, 0.6)
  opacity: 0.9
  border-radius: 7px
  margin-bottom: 20px

// .tasks__item
//   background: #ffffff
//   display: inline-block
//   max-width: 270px
//   width: 100%
//   padding: 10px 20px
//   border-radius: 7px
//   margin-bottom: 20px
//   cursor: all-scroll
//   overflow: hidden

.tasks__item
  background: rgb(255, 255, 255)
  display: flex
  justify-content: space-between
  align-items: center
  max-width: 270px
  width: 100%
  padding: 10px 10px 10px 20px
  border-radius: 7px
  margin-bottom: 20px
  cursor: grab
  overflow: hidden
  &:hover
    .task__edit
      opacity: 1
  .task__title
    display: block
    width: 100%
    border: none
    font-family: ProximaNova-Regular, sans-serif
    font-size: 16px
    cursor: grab
    color: #000000
    border-radius: 5px
    //background: rgba(255, 255, 255, 0.8)
    &:focus
      border: 1px solid #b3b3b3
      border-radius: 5px
      box-shadow: none
      outline: none  
  .task__edit
    // width: 16px
    // height: 16px
    cursor: pointer
    opacity: 0
    transition: .3s
    img
      width: 100%
      display: block
    &:hover
      filter: brightness(60%)
      transition: .3s

.task__popup
  width: 600px
  height: 600px
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

  


        