.addTask
  h2 Новая задача
  .addTask__block
    input(type="text" placeholder = "Название задачи" id = "taskName" ) 
    button(id = "createButton") 
      img(src="assets/img/plus.png", alt="plus")
      span Добавить
      
