.cards
  .tasks
    .cards__title.background-lgray.color-gray Задачи
    .tasks__item Название первой задачи
  .inProgress
    .cards__title.background-lblue.color-lblue В процессе
    .inProgress__item Название первой задачи
  .done
    .cards__title.background-lgreen.color-lgreen Готово
    .done__item Название первой задачи
  .bucket
    .cards__title.background-lred.color-red Корзина
    .bucket__item Название первой задачи
    .bucket__item Название первой задачи
    button Очистить корзину