template(id = "task")
  .tasks__item
    input(type="text" class = "task__title")
    .task__edit
      img(src="assets/img/edit.png", alt="edit")

template(id = "taskPopup")
  .task__popup
    .popup 
    


